body {
    margin: auto;
    margin-top: 25vh;
    background-color: tomato;
}
.container {
    height: 45vh;
    min-width: 75vw;
    border: solid 2px black;
    border-radius: 15px;
    margin: 12.5%;
    text-align: center;
    background-image: url(train.jpg);
    background-size: 100% 100%;
    /* background-repeat: repeat-y; */
}
h1, h2, p {
    text-shadow: 2px 2px white;
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5%;
    min-width: 60%;
    max-height: 15%;
}