body {
    margin: auto;
    margin-top: 20vh;
    background-color: tomato;
}
.container {
    max-height: 55vh;
    max-width: 75vw;
    border: solid 2px black;
    border-radius: 15px;
    margin: 12.5%;
    text-align: center;
    background-image: url(train.jpg);
    background-size: 100% 100%;
    /* background-repeat: repeat-y; */
}
h1, h2, h3, p {
    text-shadow: 2px 2px white;
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5%;
    min-width: 60%;
    max-height: 15%;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}
.increment {
    background-color: green;
}
.save {
    background-color: blue;
}
.clear {
    background-color: red;
}
@media only screen and (min-width: 1024px) {
    body {
        margin-top: 15%;
    }
    .container {
        max-width: 25%;
        margin: auto;
    }
    button {
        max-width: 20%;
    }
}