body {
    margin: auto;
    margin-top: 15vh;
    background-color: firebrick;
}
.container {
    max-height: 60vh;
    max-width: 75vw;
    border: solid 5px black;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    margin: 12.5%;
    text-align: center;
    background-image: url(train.jpg);
    background-size: 100% 100%;
    /* background-repeat: repeat-y; */
}
h1, h2, h3, p {
    text-shadow: 2px 2px white;
}
#incrementText {
    font-size: xx-large;
}
button {
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    min-width: 60%;
    max-height: 15%;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}
.increment {
    background-color: darkgreen;
    border: solid 2px darkgreen;
}
.save {
    background-color: darkblue;
    border: solid 2px darkblue;

}
.clear {
    background-color: darkred;
    border: solid 2px darkred;

}
@media only screen and (min-width: 1024px) {
    body {
        margin-top: 12.5%;
    }
    .container {
        max-width: 25%;
        margin: auto;
    }
    button {
        max-width: 20%;
    }
}