body {
    margin: auto;
    margin-top: 8.5vh;
    background-color: firebrick;
}
.container {
    max-height: 75vh;
    max-width: 75vw;
    border: solid 5px black;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    margin: 12.5%;
    text-align: center;
    background-image: url(train.jpg);
    background-size: 100% 100%;
    /* background-repeat: repeat-y; */
}
h1, h2, h3, p {
    text-shadow: 2px 2px white;
}
#incrementText {
    font-size: xx-large;
}
button {
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    min-width: 60%;
    max-height: 15%;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.increment {
    background-color: darkgreen;
    border: solid 2px darkgreen;
}
.increment:hover {
    background-color: green;
}
.increment:active {
    transform: translateY(2.5px);
}
.save {
    background-color: darkblue;
    border: solid 2px darkblue;
}
.save:hover {
    background-color: blue;
}
.save:active {
    transform: translateY(2.5px);
}
.clear {
    background-color: darkred;
    border: solid 2px darkred;
}
.clear:hover {
    background-color: red;
}
.clear:active {
    transform: translateY(2.5px);
}
@media only screen and (min-width: 1024px) {
    body {
        margin-top: 10%;
    }
    .container {
        max-width: 25%;
        margin: auto;
    }
    button {
        max-width: 20%;
        text-transform: uppercase;
    }
}